<!DOCTYPE html>
<html>
  <head>
    <title>Okashi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>
  <body>
  <div id="app"></div>
  </body>
</html>
